/*footer*/

.footer {
   @include gradient;
  
    .group-one {
      width: 100%;
      max-width: 1200px;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 50px;
      padding: 45px 0px;
  
      .box {
        figure {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
  
          img {
            width: 250px;
          }
        }
  
        h2 {
          color: #fff;
          margin-bottom: 25px;
          font-size: 1.5em;
        }
  
        p {
          color: #efefef;
          margin-bottom: 10px;
        }
      }
  
      .social-media a {
        display: inline-block;
        text-decoration: none;
        width: 45px;
        height: 45px;
        line-height: 45px;
        color: #fff;
        margin-right: 10px;
        background-color: #950e8e;
        text-align: center;
        transition: all 300ms ease;
  
        &:hover {
          color: map-get($map: $palette, $key:'aleatory-two' );
        }
      }
    }
  
    .group-two {
      background-color: #050850;
      padding: 15px 10px;
      text-align: center;
      color: #fff;
  
      small {
        font-size: 1.5em;
      }
    }
  }
  
  /* media queries footer */
  
  @media screen and (max-width: 800px) {
    .footer .group-one {
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 30px;
      padding: 35px 0px;
    }
  }