/*mixins*/
@mixin gradient {
    background-color: #030338;
    background-image: linear-gradient(240deg, #030338 88% 10%, #030338 92% 10%, #030338 97% 9%);
}

@mixin neon ($argumento1, $argumento2, $argumento3) {
background: $argumento1;
box-shadow: $argumento2;
color: $argumento3; 
}