
    $color-primary: #1aff0e;
    $color-secundary: #00bbf9;
    $-color-buttons: #240046;
    $color-aleatory: #ffffff;
    $color-aleatory2: #ffc721;
    $color-aleatory-transparent1: #870bc049;
    $color-aleatory4: rgb(0, 0, 0);




